body {
    font-family: helvetica;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    gap: 32px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    color: blue;
    transition: 2s;
    align-items: center;
}

.entrar { 
    border: 1px solid black;
    border-radius: 15px 15px;
}