body {
    text-align: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2KNdqXJ8bu-CFaxhvEpJhauGtEp3UQD8t6k9kxeta5nLXWXShWTzmY1wbaiJqcOqO4q4&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    
}