body {
    background-color: beige; /*Plano de Fundo */
    font-family: Arial, Helvetica, sans-serif; /* Mudar estilo de fonte */
}

header {
    border: 1px solid black; /* Criar uma borda */
    padding: 10px; /* Espaçamento Interno*/
    text-align: center; /* Alinhar conteudo no centro */
}

main {
    border: 1px solid black;
    padding: 20px;
    margin-top: 30px; /* Espaçamento externo do topo */
}

main p {
    color: blue;
}

.Preto {
    color: black;
}

fieldset {
    display: flex; /* Deixa um elemento do lado do outro de forma flexivel */
    flex-direction: column; /* Deixa as caixa de escrever em coluna */ 
    width: 500px; /* Largura do formulário */
    gap: 10px; /* Espaçamento lateral / top / em baixo */
}

table {
    border: 1px solid #161616; /* Definir uma borda para a tabela */
    width: 600px; /* Definir uma largura para a tabela */ 
}

th {
    background-color: rgb(75, 68, 68); /* Definir uma cor de fundo para os títulos da tabela */
    padding: 10px; /* Espaçamento interno dos títulos */
}

td {
    background-color: #b6b6b6; /* Difinir uma cor de fundo para as respostas da tabela */
    padding: 10px; /*Espaçamento interno das respostas */
}

footer {
    border: 1px solid blue;
    margin-top: 20px; /*Espaçamento externo do footer, parte superior */
}